<a href="https://colab.research.google.com/github/lmly303/Ml-Learning/blob/main/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('Housing.csv',delimiter=';')
print(data.head(10))

      price   area  bedrooms  bathrooms  mainroad  guestroom  parking
0  13300000   7420         4          2         1          0        2
1  12250000   8960         4          4         1          0        3
2  12250000   9960         3          2         1          0        2
3  12215000   7500         4          2         1          0        3
4  11410000   7420         4          1         1          1        2
5  10850000   7500         3          3         1          0        2
6  10150000   8580         4          3         1          0        2
7  10150000  16200         5          3         1          0        0
8   9870000   8100         4          1         1          1        2
9   9800000   5750         3          2         1          1        1